<div class="container text-center">
    <iframe width="100%" height="800px"
            src="https://accept.paymob.com/api/acceptance/iframes/@ViewBag.Ifram?payment_token=@ViewBag.Token"
            frameborder="0">
    </iframe>
</div>
@* https://accept.paymob.com/api/acceptance/iframes/938460?payment_token=@ViewBag.Token *@